[user]
    # Set your name and email
    name = Maxim Borisov
    email = maxim.borisov@gmail.com

[core]
    editor = code --wait
    autocrlf = input
    whitespace = fix

[color]
    ui = auto

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    unstage = reset HEAD --
    last = log -1 HEAD
    visual = !gitk
    lg = log --oneline --graph --decorate --all

[pull]
    rebase = false

[init]
    defaultBranch = main

[push]
    default = current
